html {
    scroll-behavior: smooth;
    background-color: #beb7b7;   
}

/* podemos abrir la terminal de JS con vsc para ver el codigo de html. se debe realizar con la ruta del archivo y antes de la carpeta que contiene el archivo con el NODE.  */
h1 {
    color: black;
    font-size: 30px;
    margin: 10rem 5rem;
    text-shadow: 3px 12px 7px #000;
} 
/* selector h1 declaracion=separadas con puto y coma */
h2 {
    font-family: sans-serif;
    color: orangered;
}
h3{
    color: rgb(194, 10, 10);
}
h5{
    background-color: rgba(153, 32, 32, 0.445);
    display: inline-block;
}
.inline{
    background-color: rgba(153, 32, 32, 0.445);
    display: inline-block;
}
.bloque a{
    background-color: rgba(153, 32, 32, 0.445);
    display: block;
}
img{
    max-width: 100%;
    height: auto;
    width: 50px;
}
video{
    max-width: 100%;
    height: auto;
    width: auto;
}
iframe {
    width: 80%;
    height: 300px;   
}
#enlace-css{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: red;
}
.tamaño-letra {
    color: rgb(19, 16, 16);
    font-size: 1rem;
}
.fondo{
    background-color: rgb(184, 147, 135);
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #111;
}
.colores{
    color: rgb(133, 5, 5);
    background-color: #323232;
    background-color: rgb(184, 147, 135);
    padding: 6rem;
}
.coloresHexa{
    color: #0e68ee80;
}
.coloresRGB{
    color: rgb(184, 147, 135);
}
button{
    background-color: #630606;
    color: #ff63ff;
}
button:hover{
    background-color: #050505;
}
button:active{
    background-color: #b65c5c;
}
.flex{
    background: #beb7b7;
    padding: 20px;
}
.columna{
    background: #d3a5a5;
    padding: 10px;
    width: 25%;
}
.contenedor-padre{
    display: flex;
}
.nav-enlace{
    display: flex;
    background-color: #b9d4df;
    color: #323232;
    padding: 20px 50px;
    text-decoration: none;
}
.nav-enlace:hover{
    background-color: #9ebeac;
}
nav{
    background-color: #2d373b;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background-color: #2d373b;
    color: #fff;
    padding: 10px 0;
    font-family: sans-serif;
    border: 2px solid #fff;
    display: none;
    
}
.desaparecer{
    display: none;
}

@media (max-width: 600px) {
    nav{
        background-color: #5a0cbe;
        flex-direction: column; 
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
}
